<%- include('./include/_header') %>


<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-around">
            <a href="/"class="border-shadow">
                <span class="text-gradient">All User <i class="fas fa-user"></i>
                </span>
            </a>
            <a href="/adduser"class="border-shadow">
                <span class="text-gradient">New User <i class="fas fa-user"></i>
                </span>
            </a>
            
            <a href="/service"class="border-shadow">
                <span class="text-gradient">Services <i class="fa fa-wrench"></i>
                </span>
            </a>
            <a href="/serviceList"class="border-shadow">
                <span class="text-gradient">All Service<i class="fa fa-wrench"></i>
                </span>
            </a>
        </div>  

        <!-- form Handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>email</th>
                        <th>Phone Number</th>
                        <th>date</th>
                        <th>image</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(var i=0;i<user.length;i++) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= user[i].name %></td>
                            <td><%= user[i].email %></td>
                            <td><%= user[i].number %></td> 
                            <td><%= user[i].Dob.toLocaleDateString() %></td> 
                            
                            <td><img src="../upload/<%= user[i].image %>"
                                alt=" <%= user[i].image %>"></td>

                            <td>
                                <a href="/update-user?id=<%= user[i]._id%>" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                </a>
                                <a href="/delete-user?id=<%= user[i]._id%>" class="btn border-shadow delete">
                                    <span class="text-gradient"><i class="fas fa-times"></i></span>
                                </a>
                            </td>
                        
                        <% } %>
                        
            
                        </tr>
                        
                </tbody>
            </table>
           
        </form>
    </div>
</main>

<%- include('./include/_footer.ejs') %>